.main-card {
    background-color: #fb4e71;
}

.text {
    padding: 10px;
}

.main-heading {
    color: white;
    font-size: 35px;
    text-align: start;
}

.para {
    color: white;
    text-align: start;
}

.image {
    margin: 15px;
}

.bottom-card {
    background-color: #e6f6ff;
}

.bottom-heading {
    font-size: 20px;
    padding: 10px;
}

.text1 {
    background-color: #ffffff;
    padding: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.margin {
    margin: 15px;
}

.middle-card-heading {
    font-size: 20px;
}

.margin2 {
    margin: 15px;
}

.paragraph {
    font-size: 14px;
    text-align: left;
    color: #888888;
}

.last-heading {
    font-size: 25px;
    padding: 10px;
}

.image1 {
    text-align: center;
}

.button {
    text-align: center;
}
